name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - { name: linux-gcc,       os: ubuntu-latest,  complier: gcc,   CXX: g++,     shell: bash  }
        - { name: linux-clang,     os: ubuntu-latest,  complier: clang, CXX: clang++, shell: bash  }
        - { name: window_x64-msvc, os: windows-latest, complier: msvc,  CXX: msvc,    shell: pwsh, cmake_build: "--config Release", cmake_test: "-C Release"}
        - { name: windows-g++,     os: windows-latest, complier: gcc,   CXX: g++,     shell: msys2 }
        - { name: windows-clang,   os: windows-latest, complier: clang, CXX: clang++, shell: msys2 }
        - { name: macos-clang,     os: macos-latest,   complier: clang, CXX: clang++, shell: bash  }
    name: ${{ matrix.name }}
    env:
      CC: ${{ matrix.complier }}
      CXX: ${{ matrix.CXX }}
    defaults:
      run:
        shell: '${{ matrix.shell }} {0}'

    steps:
    - uses: actions/checkout@v3

    - name: Set up MSYS2
      if: runner.os == 'Windows' && (matrix.complier == 'gcc' || matrix.complier == 'clang')
      uses: msys2/setup-msys2@v2
      with:
        msystem: mingw64
        install: >-
          mingw-w64-x86_64-gcc
          mingw-w64-x86_64-clang
          mingw-w64-x86_64-yasm
          mingw-w64-x86_64-cmake

    - name: Install Deps Lunux
      if: runner.os == 'Linux'
      run: sudo apt-get install -y yasm clang

    - name: Install Deps macOS
      if: runner.os == 'macOS'
      run: brew install yasm

    - name: Install Deps MSVC
      if: matrix.complier == 'msvc'
      run: |
        choco install yasm

    - name: Build and Test
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build . --verbose ${{ matrix.cmake_build}}
        ctest -V . -R test_rand ${{ matrix.cmake_test }}
